/* Existing styles */



::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* ************************
* Aquí empieza el proyecto
Estilos para Mobile First | 
*************************** */

:root{
  --bg-black: rgb(15,15,15);
  --color-black:rgb(15,15,15);
  --color-green:rgb(78,225,160);
  --color-gray-dark:rgb(24,24,24);
  --color-gray-light:rgb(217,217,217);
  --color-white:rgb(255,255,255);
  --font-primary:'Space Grotesk', sans-serif; 
  h1,h2,h3{
    font-family:"Space Grotesk";
    color:var(--color-white);
  }
  p{
    font-family: "Space Grotesk";
    color:var(--color-gray-light);
  } 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*<***************************************>
/* ************************************* */
/* Estilos para index.html | Mobile First*/
/*Resolción óptima 375 x 5013px*/
/* ************************************ */
/* ************************************* */

body{
  background-color: var(--bg-black);
}

.header{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin:20px auto 49px auto;
}
.header__logo{
  width: 129px;
  height: 32px;
  padding-top: 5px;
  margin-bottom:20px ;
}
.main__nav ul{
  display: flex;
  gap:25px;  
}
.main__nav-ul-item:hover{
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.hero{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}
.hero__elipse{ /*imagen de las elipses concéntricas a la izda de la img del perfil */
  position: absolute;
  top:-2%;
  left: -91%;
  z-index: -1;
}
.hero::after { /*circulo blanco situado a la derecha de la imagen del perfil*/
  content: ''; 
  display: block;
  position: absolute;
  top: 33%;
  right: -34%;
  width: 8rem; /* Tamaño círculo */
  height: 8rem;
  border: 1px solid var(--color-white); /* Círculo exterior */
  border-radius: 50%;
  transform: translate(-50%, -50%);  
}
/*Rectangulo  con degradado de gris a negro con transparencia, justo debajo de la imagen profile. */
.hero__img-container::before { 
  content: "";
  position: absolute;
  top: -29%;  
  left: 26.5%;
  width: 174.21px; 
  height: 74%; 
  background: linear-gradient(to top, rgb(36, 36, 36) 0%, rgba(36,36,36,0) 100%);
  pointer-events: none;
  z-index:-1;
}   

.hero__img-mobile{
  width: 174.21px;
  margin-bottom: 40px;     
}
.hero__img-tablet{
  display: none;
}
.hero__img-desktop{
  display: none;
}
h1{
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 0 16px 24px 16px;
}
h1::after {
  content: '';
  position: absolute;
  bottom: 32%; /* Línea verde Debajo del texto  */
  left: 57%; /* Empezamos desde la izda. del texto del link */
  width: 63%; /* Tamaño de la línea, su longitud*/
  height: 4px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.hero__subtitle{
  font-size: 16px;
  font-weight:500;
  line-height: 26px;
  text-align: center;
  margin: 0 16px 24px 16px;
}
.hero__button-link{
  font-size: 16px;
  font-weight:bold;
  line-height: 26px;
  letter-spacing: 2.29px;
  text-align: center;
  margin: 0 16px 24px 16px;
  text-decoration: none;
  font-family: "Space Grotesk";
  font-weight: bold;
  color:var(--color-white);
}
.hero__button-link:hover{
  color:var(--color-green);
}
.hero__button-link::after { /*dibuja una línea verde debajo de lik contact me */
  content: '';
  position: absolute;
  top: 97%; /* Debajo del texto a unos 8px o un -30% bottom */
  left: 50%; /* Empezamos desde la izda. del texto del link */
  width: 32%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}


.skills{
  padding-left: 16px;
  padding-right: 16px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills__hr{
  width: 95%;
  margin:0 auto 40px auto;
}

.skills__item{
  text-align: center;
  margin-bottom: 24px;
}
.skill__item-title{
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom:5px;
}
.skill__item-subtitle{
  font-size: 16px;
  font-weight:500;
  line-height: 26px;
}

.projects{
  display: flex;
  flex-direction: column;
  position: relative;
}
.projects__hr{
  width: 88%;  
  margin:20px auto 80px auto;
}
.projects__elipse{ /*imagen de las elipses concéntricas a la derecha entre skills y projects */
  position: absolute;
  top:-1.5%;
  right: -90%;
  z-index: -1;
}
.projects__header{
  display: flex;
  justify-content: space-between;
  margin: 0 16px 40px 16px;
}
.projects__header-title{
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1.14px;
}
.projects__header-contactme{
  text-decoration: none;
  color:var(--color-white);
  font-family:"Space Grotesk";
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2.29px;
}
.projects__header-contactme:hover{
  color:var(--color-green);
}
.projects__header-contactme::after { /*dibuja una línea verde debajo de lik contact me */
  content: '';/*linea color verde debajo de contact me*/
  position: absolute;
  top: 5%;
  right: -10%; /* Empezamos desde la izda. del texto del link */
  width: 30%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.projects__item{
  margin: 0 auto 20px auto;
  position: relative;
}
.projects__item-img-tablet{
  display: none;
}
.projects__item-img-desktop{
  display: none;
}
.projects__item-img-mobile{
  width: 343px;
  height: 253px;
  margin-bottom: 20px;
}
.projects__item-subtitle{
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 7px;
}
.projects__item-codes{
  display: flex;
  gap:20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}
.projects__item-links{
  display: flex;
  gap:30px;
  margin-bottom: 40px;
}
.projects__item-links a{
  text-decoration: none;
  color:var(--color-white);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2.29px;
}
.projects__item-links a:hover{
  color:var(--color-green);
}
.projects__item-link-vproject::after { /*dibuja una línea verde debajo de lik */
  content: '';
  position: absolute;
  bottom: 7.5%; /* Debajo del texto bottom */
  left: 20%; /* Empezamos desde la izda. del texto del link */
  width: 40%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.projects__item-link-vcode::after { /*dibuja una línea verde debajo de link */
  content: '';
  position: absolute;
  bottom: 7.5%; /* Debajo del texto bottom */
  right: 7%; /* Empezamos desde la izda. del texto del link */
  width: 29%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}

.contact{
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-gray-dark);  
}
.contact__title{
  padding: 60px 16px 20px 16px;
  margin-bottom: 20px;
  width: 343px;
  height: 40px;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1.14px;
}
.contact__subtitle{
 padding: 20px 0px 10px 0px;
 margin-bottom: 50px;
 width: 343px;
 height: 78px;
 font-size: 16px;
 font-weight:500;
 line-height: 26px;  
}
.contact__form{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 327px;
  align-items:start;
  padding-left: 20px;
  margin-bottom:87px;
  color: var(--color-white);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.22px;
}
.contact__form input{
  position: relative;
  width: 343px;
  height: 43px;
  margin-bottom: 32px;
  border: none;
  background: none;
  color: var(--color-white);
}
.contact__form input:focus{
  outline: none;
}
.input__line-username::before {
  content: ""; 
  position: absolute;
  top: 15%; 
  left:0; 
  width: 100%;
  height: 1px; 
  background-color: white; 
}
.input__line-email::before {
  content: ""; 
  position: absolute;
  top: 38%; 
  left:0; 
  width: 100%;
  height: 1px; 
  background-color: white; 
}
#useremail{
  margin-bottom: 40px;
}
.contact__form textarea{
  position: relative;
  width: 343px;
  height: 110px;
  margin-bottom: 20px;
  border: none;
  background: none;
  color: var(--color-white);
}
.contact__form textarea:focus{
  outline: none;
}
.input__line-textarea::before {
  content: ""; 
  position: absolute;
  top: 85%; 
  left:0; 
  width: 100%;
  height: 1px; 
  background-color: white; 
}

.send-label{
  position: absolute;
  right: 0;
  bottom: -5%;
}
.send-label:hover{
  color: var(--color-green);
}
.send-label::after { /*dibuja una línea verde debajo del label send message */
  content: '';
  position: absolute;
  bottom: -45%; /* Debajo del texto bottom */
  right: -50%; 
  width: 100%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.form__elipse{ /*imagen de las elipses concéntricas a la izda de la img, al final del formulario de contacto */
  position: absolute;
  bottom:-2%;
  left: -100%;
  z-index: 1;
}


footer{
  position:relative;
  background-color: var(--color-gray-dark);
}
.footer__line::before {
  content: ""; 
  position: absolute;
  top: 0; 
  left:5%; 
  width: 90%;
  height: 1px; 
  background-color: white; 
}
.footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo{
  margin: 39px auto 20px auto;
}
.footer__nav{
  margin-top: 5px;
  margin-bottom: 60px;
}
.footer__nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 25.6px; 
}
.footer__nav a{
  text-decoration: none;
}
.footer__nav-ul-item a:hover img{  
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

/* ************************************* */
/* ************************************* */
/* Estilos para tablet. Optimizada para resolucion 768 x 3563px */
/* ************************************ */
/* ************************************* */

@media screen and (min-width:768px) {

  .main__container{
    margin: 0%;
    margin:29px 32px 0 32px;
  }

  .header{  
    margin: 0;
    margin-right: 150px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;    
  }
   .header__logo{
    margin: 0;    
    width: 172px;
    height: 32px;
    padding-top: 5px;
  }  
  .main__nav ul{    
    display: flex;
    width: 24.6px;
    gap:32px;  
  }
  
  .hero{ 
    margin:0;   
    display: block;   
    position: relative;
    margin-top: 66px;
    margin-bottom: 60px;
  }
  .hero__elipse{ /*imagen de las elipses concéntricas a la izda de la img del perfil */
    position: absolute;
    top:-16%;
    left: -42%;
    z-index: -1;
  }
  .hero::after { /*circulo blanco situado a la derecha de la imagen del perfil*/
    content: ''; 
    display: block;
    position: absolute;
    top: 92%;
    right: -23%;
    width: 8rem; /* Tamaño círculo */
    height: 8rem;
    border: 1px solid var(--color-white); /* Círculo exterior */
    border-radius: 50%;
    transform: translate(-50%, -50%);  
  }
 
h1{ 
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 72px;
  font-weight: bold;
  letter-spacing: -2.05px;
  align-self: start;  /* Alinea arriba */
  text-align: start;
  width: 445px;
  margin-bottom: 60px; 
}
h1::after {/* Línea verde Debajo del texto  */
  content: '';
  position: absolute;
  bottom: 47%; 
  left: 28.5%; /* Empezamos desde la izda. del texto del link */
  width: 57.5%; /* Tamaño de la línea, su longitud*/
  height: 4px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.hero__subtitle{
  margin: 0;
  padding: 0;
  width: 445px;
  height: auto;
  font-size: 18px;
  font-weight:500;
  line-height: 28px;
  letter-spacing: 0px;
  align-self: start;  /* Alinea arriba */
  text-align: start;
  margin-bottom: 34px;
}
.hero__button-link{
 margin: 0;
}
.hero__button-link::after { /*dibuja una línea verde debajo de lik contact me */
  content: '';
  position: absolute;
  top: 103%; /* Debajo del texto a unos 8px o un -30% bottom */
  left:8.5%; /* Empezamos desde la izda. del texto del link */
  width: 17%; /* Tamaño de la línea, su longitud*/
  height: 2px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}

.hero__img-container::before { /*rectángulo con degradado de gris oscuro hasta 100% transparente de fondo de la img de la foto del perfil */
  content: "";
  position: absolute;
  top: -50%;  /* Ajusta la posición del rectángulo */
  left: 61.5%;
  width: 400px; /* Define el ancho del rectángulo */
  height: 600px; /* Define la altura del rectángulo */
  background: linear-gradient(to top, rgb(36, 36, 36) 0%, rgba(190, 14, 14, 0) 100%);
  pointer-events: none;
  z-index:-1; 
}
.hero__img-mobile{
   display:none;  
  }
.hero__img-tablet{   
    display: block;
    position: absolute;
    top: -5%;
    right: -7.5%;
    width:322px ;
}
.hero__img-desktop{
    display: none;
}  


.skills__hr {
  margin: 0;
  padding-left: 0;  
  grid-column: 1 / -1; /* Hace que el <hr> ocupe ambas columnas */
  width: 93%; 
  margin-top: 45px;
  margin-bottom: 0px; /* Espaciado entre el <hr> y los artículos */
}  
.skills {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas del mismo tamaño */
  gap: 40px; /* Espaciado entre elementos */
  align-items: start; /* Alinea los articles en la parte superior */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
  margin-bottom: 100px;   
}    
.skills__item {
  display: flex;
  flex-direction: column;
  text-align: left; /* Mantiene el texto alineado a la izquierda */
}
.skill__item-title{
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1.5px;
  margin-bottom: 14px;
}
.skills__item-subtitle{
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 52px;
}

.projects__hr{
  display: none;
}
.projects__elipse{ /*imagen de elipses concéntricas a la derecha entre skills y projects */
  position: absolute;
  top:-12%;
  right: -65%;
  z-index: -1;
}
.projects{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas del mismo tamaño */
  align-items: start; /* Alinea los artículos en la parte superior */
  gap: 24px; /* Espaciado entre elementos */
  margin:0 32px 100px 0; /* Espacio inferior */
}
.projects__header{
  margin: 0;
  grid-column: 1 / -1; /* Hace que el projects__header ocupe ambas columnas */
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 60px;   
}
.projects__header-title{
  font-size: 72px;
  font-weight: bold;
  line-height: 72px;
  letter-spacing: -2.05px;
}
.projects__header-contactme{
  /*sin cmabios respecto a mobile*/
}
.projects__header-contactme::after { /*dibuja una línea verde debajo de lik contact me */
  content: '';
  position: absolute;
  top: 4%; /* Debajo del texto */
  right: -14.8%; /* Empezamos desde la izda. del texto del link */
  width: 18%; /* Tamaño de la línea, su longitud*/
  height: 1px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
/*resto de clases de projects sin cambios*/

/* secction contact */
.contact{
  margin: 0;
  width: calc(100vw + 64px); /* 100vw + los márgenes laterales del contenedor (32px + 32px) */
  margin-left: -32px;
  margin-right: -32px;
  padding-bottom: 30px;
  position: relative;
}
.contact__title{
  margin: 0;
  margin-bottom: 20px;
  padding: 60px 16px 60px 0px;
  width: 270px;
  font-family: "Space Grotesk";
  font-size: 72px;
  font-weight: bold;
  line-height: 72px;
  letter-spacing: -2.05px;
}
.contact__subtitle{
  margin: 0;
  padding: 20px 0px 10px 0px;
  margin-bottom: 50px;
  width: 445px;
  font-size: 18px;
  font-weight:500;
  line-height: 28px;  
 }
.form__elipse{ /*imagen de elipses concéntricas a la izda de la img, al final del formulario de contacto */
position: absolute;
bottom:-25%;
left: -160%;
z-index: 1;
}


footer{
  width: calc(100vw + 64px); /* 100vw + los márgenes laterales del contenedor (32px + 32px) */
  margin-left: -32px;
  margin-right: -32px;
  position: relative;
  margin-bottom: 0;
} 
.footer__line::before {
content: ""; 
position: absolute;
top: 0; 
left:3.5%; 
width: 85%;
height: 1px; 
background-color: white; 
}

.footer__container{
margin: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-left: 30px; 
margin-right: 30px;
padding-bottom:0; 
}
.footer__logo{
  margin: 0;
  padding: 32px 0 30px 0;
}
.footer__nav{
margin: 0;
padding-right: 70px;
}
}

/* ************************************ */
/* ************************************ */
/* Estilos para Desktop. Optimizada para 1440px*/
/* ************************************ */

@media screen and (min-width:1440px) {

.main__container{
  margin: 0;
  padding: 0;
  margin:40px 165px 0 165px;
}
  .header{
  margin: 0;
  margin-bottom:127px ;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;   
  }
 .header__logo {/*sin cambios respecto a tablet*/}

 .main__nav ul{    
  display: flex;
  width: 25px;
  gap:32px;  
  padding-right: 200px;
} 

.hero{    
  display: block;   
  position: relative;
  margin: 0; 
}
.hero__elipse{ /*imagen de las elipses concéntricas a la izda de la img del perfil */
  position: absolute;
  top:-22.5%;
  left: -23.5%;
  z-index: -1;
}
.hero::after { /*circulo blanco situado a la izda. de la imagen del perfil*/
  content: ''; 
  display: block;
  position: absolute;
  top: 125%;
  right: 29%;
  width: 8rem; /* Tamaño círculo */
  height: 8rem;
  border: 1px solid var(--color-white); /* Círculo exterior */
  border-radius: 50%;
  transform: translate(-50%, -50%);  
}
.hero__img-tablet{
  display:none;  
}
  .hero__img-desktop{   
    display: block;
    position: absolute;
    top: -15%;
    right: -0.5%;
    width: 445 px ; 
}
.hero__img-container::before { /*rectángulo con degradado de gris oscuro hasta 100% transparente de fondo de la img de la foto del perfil */
  content: "";
  position: absolute;
  top:-36%;  /* Ajusta la posición del rectángulo */
  left: 60.5%;
  width: 445px; /* Define el ancho del rectángulo */
  height: 600px; /* Define la altura del rectángulo */
  background: linear-gradient(to top, rgb(36, 36, 36) 0%, rgba(190, 14, 14, 0) 100%);
  pointer-events: none;
  z-index:-1;
  grid-column: 2; /* Ubica en la segunda columna */
  grid-row: 1 / span 3; /* Ocupa desde la fila 1 hasta la fila 3 */
}
h1{ 
  margin: 0;
  padding: 0;
  font-size: 87px;
  line-height: 88px;
  font-weight: bold;
  letter-spacing: -2.05px;
  align-self: start;  /* Alinea arriba */
  text-align: start;
  width: 706px;
  height: auto;  
  margin-bottom: 40px; 
}
h1::after {/* Línea verde Debajo del texto  */
  content: '';
  position: absolute;
  bottom: 40%; 
  left: 34.1%; /* Empezamos desde la izda. del texto del link */
  width: 44%; /* Tamaño de la línea, su longitud*/
  height: 4px; /* Grosor de la línea */
  background-color: var(--color-green); /*Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
}
.hero__subtitle{
  margin: 0;
  padding: 0;
  width: 445px;
  height: auto;
  font-size: 18px;
  font-weight:500;
  line-height: 28px;
  letter-spacing: 0px;
  align-self: start;  /* Alinea arriba */
  text-align: start;
  margin-bottom: 34px;
}
.hero__button a{
  margin: 0;
  position: absolute;
  bottom: -175%;
  left:-265%;
}

}